@import url('https://fonts.googleapis.com/css2? família=Raleway&display=swap');

@import url('https://fonts.googleapis.com/css2? família=Raleway:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body {
    font-family: 'Raleway', sans-serif;
}

header {
    position: fixed;
    top: 0px;
    height: 130px;
    width: 100vw;
    text-align: center;
    box-shadow: 2px 2px 10px rgba(33, 32, 32, 0.534);
    padding-bottom: 10px;
    background-color: white;
}

header h1 {
    padding: 20px;
}

header .nav {
    width: 100%;
    padding-bottom: 20px;
}

header ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

header a {
    padding: 40px;
    text-decoration: none;
    transition: all 800ms;
    color: black
}

header a:hover {
    color: red
}

main {
    text-align: center;
    padding-top: 50px;
    margin-top: 150px;

}

main h2 {
    font-size: 20px;
    margin-bottom: 2px;

}

main p {
    font-size: 10px;
    margin-bottom: 2px;
    margin-bottom: 2px;
    font-family: 'Raleway', sans-serif;
}

main section {
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

main div {
    width: 40vw;
}

main div img {
    width: 100%;
}