@import url('https://fonts.googleapis.com/css2? família=Raleway&display=swap');

@import url('https://fonts.googleapis.com/css2? família=Raleway:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body {
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
}

header {
    height: 130px;
    width: 100vw;
    text-align: center;
    box-shadow: 2px 2px 10px rgba(33, 32, 32, 0.534);
    padding-bottom: 10px;
    background-color: white
}

header h1 {
    padding: 20px;
}

header .nav {
    width: 100%;
    padding-bottom: 20px;
}

header ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

header a {
    padding: 40px;
    text-decoration: none;
    transition: all 800ms;
    color: black
}

header a:hover {
    color: red
}

main .estrutura .organizar h1 {
    margin-top: 50px;
}

main .estrutura {
    width: 100vw;

}

main .organizar {
    margin-left: 150px;
    width: 550px;

}

main .primera {
    border-bottom: 1px solid black;
}

main .primera p {
    margin: 10px;
}

main .segunda {
    border-bottom: 1px solid black;
}

main .segunda p {
    margin: 10px;
}

main .terceira {
    border-bottom: 1px solid black;
}

main .terceira p {
    margin: 10px;
}

main .quarta {
    border-bottom: 1px solid black;
}

main .quarta p {
    margin: 10px;
}


@media (max-width:414px){


    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Raleway', sans-serif;
      
    }
    
    header{
   
       
        top:0px;
        height: 130px;
        width:100vw;
        text-align: center;
        box-shadow: 2px 2px 10px rgba(33, 32, 32, 0.534);
        padding-bottom: 10px;
        background-color: white;
       
    }

    body{
   
        font-family: 'Raleway', sans-serif;
        overflow-x:hidden;
    
    
    }

  
    header a {
        padding: 20px;
        text-decoration: none;
        transition: all 800ms;
        color: black
    }

    main .organizar {
        margin-left: 10px;
        width: 100vw;
    
    }

    #text{
        font-size: 20px;
    }
    
    
}