*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
        


body{
   
    font-family: 'Raleway', sans-serif;
    overflow-x:hidden;


}

header{
   
    position:fixed;
    top:0px;
    height: 130px;
    width:100vw;
    text-align: center;
    box-shadow: 2px 2px 10px rgba(33, 32, 32, 0.534);
    padding-bottom: 10px;
    background-color: white;
   
}


header h1{
padding: 20px;
}

header .nav{
width: 100%;
padding-bottom: 20px;
}

header ul{
display: flex;
list-style: none;
justify-content: center;
} 

header a{
padding:40px;
text-decoration: none;
transition: all 800ms;
color: black
    
}

header a:hover{
    color:red
}



main .organizar{
    width: 100%;
  

}


   

main .organizar .principal {
    margin-left: 150px;
    width: 550px;
    margin-top: 150px;
           
}

@media (max-width:677px){
    
    header a {
        padding: 30px;
        text-decoration: none;
        transition: all 800ms;
        color: black
    }
    
    }


@media (max-width:896px){
    
main .organizar .principal {
    margin-left:5px;
    width: 550px;
    margin-top: 150px;
           
}
}

@media (max-width:896px){
    header{
   
        position:fixed;
        top:0px;
        height: 130px;
        width:100vw;
        text-align: center;
        box-shadow: 2px 2px 10px rgba(33, 32, 32, 0.534);
        padding-bottom: 10px;
        background-color: white;
       
    }

    body{
   
        font-family: 'Raleway', sans-serif;
        overflow-x:hidden;
    
    
    }
    
}