@import url('https://fonts.googleapis.com/css2? família=Raleway&display=swap');

@import url('https://fonts.googleapis.com/css2? família=Raleway:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    font-family: 'Raleway', sans-serif;
}

header{
    position:fixed;
    
    height: 130px;
    width:100vw;
    text-align: center;
    box-shadow: 2px 2px 10px rgba(33, 32, 32, 0.534);
    padding-bottom: 10px;
    background-color: white;
   
}


header h1{
padding: 20px;
}

header .nav{
width: 100%;
padding-bottom: 20px;
}

header ul{
display: flex;
list-style: none;
justify-content: center;
} 

header a{
padding:40px;
text-decoration: none;
transition: all 800ms;
color: black
    
}

header a:hover{
    color:red
}

.img1 img{
    width:100%;
    margin-top: 130px;
    
 

}

main{
width:60%;

margin-left:22%;
}

main p{
    padding: 10px;
}

main .celular img{
    width:180px;
    
}

main section {
    margin-top:70px;
    display: flex;
    text-align: center;
   justify-content: center;
}

section .nomes span{
    font-size: 10px;
}

section .dourado{
    color:darkgoldenrod;
}

